/* Estilos para ocultar o modal por padrão */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Estilos do conteúdo do modal */
.modal-content {
  width: 35%; /*60% da div*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px; /*espaço entre a borda e o conteudo do site*/
  background: #221b1b;
  color: white;
  border-radius: 20px; /*para a borda*/
  box-shadow: 0px 10px 40px #00000056; /*sombra do card*/
  position: relative;
}

.modal-content, h1 {
margin-top: 10px;
}

/* Botão de fechar o modal */
.close {
  position: absolute;
  top: 15px;  /* Ajuste vertical */
  right: 30px; /* Alinhar na direita */
  font-size: 35px;
  color: #aaa;
  cursor: pointer;
}